server {
    listen 80;
    server_name {{ site_fqdn }};

    location /static {
        alias /home/{{ deployment_user }}/sites/{{ site_fqdn }}/static;
    }

    location / {
        proxy_set_header Host $host;
	proxy_pass http://unix:/tmp/{{ site_fqdn }}.socket;
    }
}
